html {
  scroll-behavior: smooth;
  transition: all 3s;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f3f5fc;
  animation-name: transicionsHtml;
  animation-duration: 0.8s;
  animation-timing-function: linear;
}

.contenedor-total {
  background: #f3f5fc;
}

.contenedor {
  display: flex;
  background: #f3f5fc;
  height: 100%;
}

.contenedor__contenidosIzquierda {
  width: 70%;
  padding: 30px 0px 30px 0px;
  height: 90vh;
}

.contenedor__contenidosIzquierda .imagen-link {
  position: relative;
  height: 10%;
  /* left: -300px; */
  /* transform: translateX(300px); */
  /* transition: all 4s; */
  animation-name: imgCambia;
  animation-duration: 1.5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction:alternate-reverse;
  animation-timing-function: ease;
}

/* .contenedor__contenidosIzquierda {
  position: relative;
  height: 100%;
  padding: 25px 0px 0px 20%;
  width: 70%;
} */

.contenedor__contenidosIzquierda textarea {
  padding: 15px 0px 0px 10px;
  margin-left: 20%;
  position: relative;
  resize: none;
  height: 50%;
  width: 65%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  color: #0a3871;
  background: #f3f5fc;
  border: none;
  outline: none;
  /* top: -500px; */
  /* transform: translateY(500px); */
  /* transition: all 2s; */
  overflow: hidden;
  animation-name: rot;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1;
}
/* .contenedor__contenidosIzquierda textarea:focus {
  background: #0a3871;
  color: white;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
} */

.contenedor__contenidosIzquierda textarea:hover {
  overflow: auto;
}

.contenedor__contenidosIzquierda ::placeholder {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #0a3871;
}

.botonesYp {
  position: relative;
  gap: 0px;
  width: 70%;
  padding-left: 20%;
  top: 18%;
  /* transform: translateY(-558px); */
  /* transition: all 2s; */
}
.botonesYp p {
  width: 100%;
  height: 18px;
  margin: 0;
  margin-bottom: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;
}

.botonesYp p img {
  position: relative;
  top: 4px;
  margin-right: 8px;
}

.botones {
  display: flex;
  gap: 24px;
}

.botones :hover {
  cursor: pointer;
}

/* .boton1 .boton2 {
  text-align: center;
  width: 100%;
} */

.botones a {
  width: 100%;
}

.botones .boton1 {
  /* width: 328px; */
  width: 100%;
  height: 67px;
  background: #0a3871;
  border-radius: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  transition: all 0.3s;
}

/* .botones :hover {
  box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.8);
  scale: 1.05;
} */

.botones .boton2 {
  /* width: 328px; */
  width: 100%;
  height: 67px;
  background: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0a3871;
  transition: all 0.3s;
}

.botones button:hover {
  /* box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.8); */
  -webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
  scale: 1.04;
}

.contenedor__contenidosDerecha {
  position: relative;
  width: 30%;
  height: 90vh;
  padding: 30px 30px 30px 0px;
}

.contenidosDerecha1 {
  position: relative;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  padding: 0px 60px 0px 60px;
}

.imagen-muñeco {
  position: relative;
  top: 130px;
}

.imagen-muñeco img {
  width: 100%;
  height: 100%;
}

.contenidosDerecha1 :nth-child(2) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #343a40;
  margin-top: 32px;
  margin-bottom: 16px;
}

.contenidosDerecha1 :nth-child(3) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #495057;
}

@keyframes transicions {
  from {
    z-index: -0.1;
    transform: rotateY(0deg);
  }
  to {
    z-index: 0;
    transform: rotateY(1080deg);
  }
}

@keyframes transicionstxt {
  from {
    font-size: 0px;
  }
  to {
    font-size: 24px;
  }
}

@keyframes transicionsHtml {
  0% {
    width: 0%;
    height: 0%;
    opacity: 0;
    /* transform: rotate3d(0deg); */
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 1;
    /* transform: rotate3d(1,0,0,360deg); */
  }
  /* 100% {
    opacity: 1;
    transform: rotateX(0deg);
  } */
}

@keyframes rot {
  0% {
   transform: rotate(0deg)
              translate(0px)
              rotate(0deg);
  }
  100% {
   transform: rotate(720deg)
              translate(-10px)
              rotate(-720deg)
              translate(10px) ;
  }
 }

 @keyframes imgCambia {
  0% {
    filter: opacity(0.8) drop-shadow(0 0 0 rgb(255, 253, 253));
  }
  100% {
    filter: opacity(1) drop-shadow(-0.5px 0 1.5px);
  }
 }

 @keyframes rotParrafoSi {
  0% {
   transform: rotate(0deg)
              translate(0px)
              rotate(0deg);
}
   100% {
    transform: rotate(3000deg)
               translate(-8px)
               rotate(-3000deg)
               translate(8px) ;
   }
 }

.contenidosDerecha2 {
  position: relative;
  height: 100%;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 0px 32px 10px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  padding: 20px 30px 0px 30px;
  animation-name: transicions;
  animation-duration: 2s;
}

/* 
.transicion {
  position: relative;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  padding: 20px 30px 0px 30px;
  animation-name: transicions;
  animation-duration: 2s;
} */

.contenidosDerecha2 textarea {
  position: relative;
  resize: none;
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 61%;
  font-size: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #495057;
  /* transition: all 4s; */
  animation-name: transicionstxt;
  animation-duration: 4s;
}

.contenidosDerecha2 textarea:hover {
  overflow: auto;
}

.contenidosDerecha2 p:hover {
  /* transition: all 4s; */
  /* overflow: visible; */
  overflow: auto;
}

.contenidosDerecha2 .boton {
  position: relative;
  text-align: center;
  top: 20.5%;
  height: 10%;
  width: 100%;
}

.contenidosDerecha2 button {
  position: relative;
  width: 80%;
  height: 67px;
  border: 1px solid #0a3871;
  border-radius: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0a3871;
  /* transform: translateY(-550px); */
  transition: all 0.3s;
}

.contenidosDerecha2 button a {
  text-decoration: none;
  box-shadow: none;
  color: #0a3871;
}

.contenidosDerecha2 button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 1px 1px 0px rgb(0 0 0 / 10%);
  scale: 1.05;
}

@media (max-width: 1100px) {
  .imagen-muñeco {
    top: 160px;
  }
}

@media (max-width: 900px) {
  .contenedor {
    flex-wrap: wrap;
    gap: 100px;
  }

  .contenedor__contenidosIzquierda {
    width: 100%;
  }

  .contenedor__contenidosIzquierda textarea {
    margin: 40px 0px 40px 40px;
    width: 80%;
    font-size: 25px;
  }

  .contenedor__contenidosIzquierda textarea::placeholder {
    font-size: 25px;
  }

  .botonesYp {
    padding: 0px 0px 40px 40px;
    top: 5%;
    width: 80%;
  }

  .contenedor__contenidosDerecha {
    width: 80%;
    padding-left: 40px;
    top: 10%;
  }

  .contenidosDerecha1 {
    padding: 0px;
    height: 30%;
  }

  .contenidosDerecha2 button {
    bottom: 40%;
  }

  .imagen-muñeco {
    text-align: center;
    width: 100%;
    top: 25%;
  }

  .imagen-muñeco img {
    display: none;
  }
}

@media (max-width: 426px) {
  .contenedor__contenidosIzquierda textarea {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .botonesYp {
    top: 0%;
    padding-top: 0px;
  }

  .botones {
    flex-wrap: wrap;
  }
}
